{% extends 'index.html' %}

{% block socketbody %} 
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded',()=>{
       var socket = io.connect('http://127.0.0.1:5000'); //Client side Socket IO

    document.querySelector('#addtask').onclick = ()=>{
        socket.emit('mytask', document.querySelector('#task').value);
        document.querySelector('#task').value ='';
    };
    
    socket.on('mytaskresponse', (val)=>{
       
       var data =JSON.parse(val['data']);

       var length = val['length'];
       
       var str = '';
       for(let i=0; i<length; i++){
           str = '<div class="list-group-item d-flex bd-highlight mb-1"> <h6 id="taskData" class="mr-auto p-2 bd-highlight">' + data[i]['taskname'] + '</h6>\
                 <button type="button" class="btn btn-warning p-2 m-1 bd-highlight" id="update" data-toggle="modal" data-target="#modal">Update</button>\
               <button type="button" class="btn btn-danger p-2 m-1 bd-highlight" id="delete">Delete</button>\
               </div>';

            var taskname =  data[i]['taskname'];
       }
           
       
      
       document.querySelector("#list").innerHTML += str ;
      
    //    document.querySelector("#update").onclick =()=>{
    //        var taskData = document.querySelector("#taskData").textContent;
    //        console.log(taskData);
    //    }
       

    });
    


   });
</script>

<div class="container" style="margin-top: 50px;">
    <!-- Content here -->
    <div class="form-inline mb-3">
        <div class="form-group">
            <input type="text" class="form-control m-1" id="task">
            <button type="button" class="btn btn-primary" id="addtask">Add</button>
        </div>
    </div>
    <div class="list-group" id="list">
        <!-- <div class="list-group-item" ></div> -->
        
    
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <input type="text" class="form-control m-1" id="updatetask">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancle</button>
          <button type="button" class="btn btn-warning" id="change">Update</button>
        </div>
      </div>
    </div>
  </div>

  <div>
    <h3>GitPull</h3>
  </div>

{% endblock %}